<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Ass4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletFile</display-name>
    <servlet-name>ServletFile</servlet-name>
    <servlet-class>ServletFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFile</servlet-name>
    <url-pattern>/ServletFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adds</display-name>
    <servlet-name>adds</servlet-name>
    <servlet-class>adds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adds</servlet-name>
    <url-pattern>/adds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCust</display-name>
    <servlet-name>AddCust</servlet-name>
    <servlet-class>AddCust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCust</servlet-name>
    <url-pattern>/AddCust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cregi</display-name>
    <servlet-name>Cregi</servlet-name>
    <servlet-class>Cregi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cregi</servlet-name>
    <url-pattern>/Cregi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clogin</display-name>
    <servlet-name>Clogin</servlet-name>
    <servlet-class>Clogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clogin</servlet-name>
    <url-pattern>/Clogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>booking</display-name>
    <servlet-name>booking</servlet-name>
    <servlet-class>booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booking</servlet-name>
    <url-pattern>/booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking</display-name>
    <servlet-name>Booking</servlet-name>
    <servlet-class>Booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Select</display-name>
    <servlet-name>Select</servlet-name>
    <servlet-class>Select</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Select</servlet-name>
    <url-pattern>/Select</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book</display-name>
    <servlet-name>book</servlet-name>
    <servlet-class>book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
</web-app>